body{
    margin-top: 70px;
}

.navbar-brand{
    padding: 5px 0 5px 15px;
}
.navbar-brand > img {
    height: 100%;
}

.nav.navbar-nav {
    font-weight: bold;
}
.nav.navbar-nav > .dropdown * {
    font-weight: 100;
}

.admin .form-horizontal .control-label {
    text-align: left;
}